<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Green Guardian - Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link
      href="{{ url_for('static', filename='css/gg.css') }}"
      rel="stylesheet"
    />
  </head>

  <body class="bg-theme">
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div
        class="alert alert-{{ category }} alert-dismissible fade show"
        role="alert"
        style="
          margin-bottom: 20px;
          border: 1px solid transparent;
          border-radius: 0.25rem;
          padding: 0.75rem 1.25rem;
          margin-bottom: 1rem;
          color: #721c24;
          background-color: #f8d7da;
          border-color: #f5c6cb;
        "
      >
        {{ message }}
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <script>
        setTimeout(function () {
          document.querySelector(".alert").remove();
        }, 3000); // Dismiss after 2 seconds (2000 milliseconds)
      </script>
      {% endfor %} {% endif %} {% endwith %}

      <!-- Outer Row -->
      <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
          <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row">
                <div class="col-lg-5 d-none d-lg-block">
                  <img
                    src="static/img/login.jpeg"
                    alt="Register Image"
                    style="width: 110%; height: 100%; object-fit: fill"
                  />
                </div>

                <div class="col-lg-6">
                  <div class="p-5">
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-4">Green Guardian AI</h1>
                      <h1 class="h4 text-gray-900 mb-4">Login</h1>
                    </div>
                    <form
                      class="user"
                      method="POST"
                      action="{{ url_for('login') }}"
                    >
                      <div class="form-group">
                        <input
                          type="email"
                          class="form-control form-control-user"
                          name="email"
                          id="exampleInputEmail"
                          aria-describedby="emailHelp"
                          placeholder="Enter Email Address..."
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="password"
                          class="form-control form-control-user"
                          name="password"
                          id="exampleInputPassword"
                          placeholder="Password"
                        />
                      </div>
                      <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            id="customCheck"
                          />
                          <label class="custom-control-label" for="customCheck"
                            >Remember Me</label
                          >
                        </div>
                      </div>
                      <button
                        type="submit"
                        class="btn btn-primary btn-user btn-block"
                      >
                        Login
                      </button>
                      <hr />
                    </form>
                    <hr />
                    <div class="text-center">
                      <a class="small" href="/register">Create an Account!</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const form = document.querySelector(".user");
        const errorMessage = document.getElementById("error-message");

        form.addEventListener("submit", function (event) {
          let isValid = true;

          // Your validation logic here...

          if (!isValid) {
            event.preventDefault(); // Prevent form submission
            errorMessage.innerText =
              "Invalid email or password. Please try again.";
          } else {
            errorMessage.innerText = ""; // Clear error message if validation passes
          }
        });
      });
    </script>
    <!-- Bootstrap core JavaScript-->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="static/js/gg.min.js"></script>
  </body>
</html>
